.main {
  padding-top: 24px;
  margin: 0 auto;
}

@media screen and (max-width: 760px) {
  .main {
    width: 90vw;
  }
}

.container h1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0;
  color: #4b4c4e;
  font-family: "poppins";
}

.container p {
  font-size: 14px;
  font-family: "poppins";
}

.underline {
  margin-top: 0;
  height: 5px;
  width: 4rem;
  background: #4eb9e3;
}

.form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

label {
  color: #1d272e;
  font-size: 14px;
  font-family: "poppins";
  font-weight: 500;
  margin-top: 1rem;
  text-transform: capitalize;
}

input {
  padding: 8px 14px;
  background: #ffffff;
  color: #909599;
  border: 1px solid #c8d0da;
  border-radius: 10px;
  margin-top: 4px;
  outline: transparent;
}

textarea {
  padding: 8px 14px;
  height: 120px;
  border-radius: 10px;
  border: none;
  border: 1px solid #c8d0da;
  outline: none;
}

.button {
  margin-top: 19px;
}

.button button {
  background: #4eb9e3;
  padding: 15px 23px;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-family: "poppins";
}

.secondSection h2 {
  color: #1d272e;
  font-family: "poppins";
}

.location {
  display: flex;
  align-items: center;
}

.location p,
.numbers p {
  font-family: "poppins";
  width: 250px;
  margin-top: 0;
}

.phone {
  display: flex;
}

.icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #4196b8;
  align-self: flex-start;
}

.socialSection {
  margin-top: 1rem;
}

.social {
  margin-left: 10px;
  font-size: 1rem;
  color: #fff;
  background: #bfc5d0;
  padding: 8px;
  border-radius: 9px;
}

.social:first-child {
  margin-left: 0;
}
@media screen and (min-width: 450px) {
  input {
    padding: 15px 20px;
  }

  textarea {
    height: 150px;
  }
}

@media screen and (min-width: 760px) {
  .main {
    padding-bottom: 100px;
  }
  .section {
    display: flex;
    justify-content: space-between;
  }

  .container p {
    width: 330px;
  }

  .form {
    justify-self: flex-start;
  }
  input {
    width: 300px;
  }

  .secondSection {
    width: 50%;
    padding-left: 50px;
    align-self: flex-start;
    padding-top: 40px;
  }

  .location p {
    width: 220px;
  }
  .icon {
    font-size: 2rem;
  }

  .numbers p {
    width: 200px;
  }
}

@media screen and (min-width: 800px) {
  .secondSection {
    width: 270px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .location p {
    width: 270px;
  }

  input {
    width: 340px;
  }

  .container p {
    width: 380px;
  }
}

@media screen and (min-width: 900) {
  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .underline {
    width: 95px;
    height: 5px;
  }

  .section {
    justify-content: space-between;
    margin-left: 0;
  }

  .secondSection {
    padding-left: 30px;
  }

  input {
    width: 500px;
    padding: 18px 20px;
  }

  .container h1 {
    font-size: 36px;
  }

  .container p {
    width: 575px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .secondSection {
    padding-left: 70px;
  }
  input {
    width: 574px;
  }
  .container p {
    width: 575px;
  }
}
