.main {
  margin-top: 4rem;
  display: flex;
  flex-direction: column-reverse;
}
.section {
  width: 90vw;
  margin: 0 auto;
}

.section h2 {
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.5rem;
  color: #181818;
}

.section p {
  font-family: "poppins";
  font-weight: normal;
  font-size: 14px;
  color: #000c2d;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #4196b8;
}

.wrap div a {
  margin-right: 8px;
  font-family: "poppins";
  font-size: 14px;
  color: #4196b8;
}

.secondSection {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

@media screen and (min-width: 760px) {
  .main {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    align-items: center;
  }
  .section {
    /* justify-self: flex-end; */
    margin: 0;
    width: 50%;
  }

  .section h2 {
    width: 300px;
    font-size: 28px;
  }

  .section p {
    width: 320px;
  }

  .secondSection {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 50%;
  }

  .secondSection img {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 164px; */
  }
  .secondSection img {
    width: 367px;
  }

  .section {
    padding-left: 0;
  }

  .section h2 {
    width: 379px;
    font-size: 28px;
  }

  .section p {
    width: 410px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .main {
    width: 70vw;
    margin: 0 auto;
  }
}
