.wrapper {
  padding-top: 30px;
  padding-bottom: 94px;
}

@media screen and (min-width: 760px) {
  .wrapper {
    padding: 30px 70px 95px 100px;
  }
  .footer {
    padding: 0 45px 0 65px;
  }
}

@media screen and (min-width: 800px) {
  .footer {
    padding: 0 65px 0 55px;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    padding: 0 75px 0 85px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    padding: 80px 150px 95px 200px;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    padding: 80px auto 95px 300px;
  }
}
