a {
  text-decoration: none;
  font-family: "roboto";
  color: #e9f7fe;
}

ul {
  list-style: none;
}

h4 {
  font-size: 18px;
  color: #8c97ac;
  font-family: "roboto";
}

.section {
  position: relative;
  margin-bottom: 0;
}

.section img {
  display: block;
  width: 140px;
  background: #fff;
  padding: 10px 35px 55px 0;
  object-fit: cover;
  border-radius: 0 5% 70% 40%;
}

.secondSection {
  width: 90vw;
  margin: 0 auto;
}

.first {
  margin: 0 auto;
}

.first p,
.contactText p {
  font-size: 14px;
  color: #e9f7fe;
}

.container ul li a {
  font-size: 14px;
  line-height: 25px;
}

.first button a {
  color: #fff;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
}

.first button {
  background: #00b6ff;
  padding: 13px 12px;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .first,
  .contacts {
    width: 300px;
  }

  .container {
    width: 80vw;
    margin: 0 auto;
  }
}

.contacts {
  /* width: 270px; */
  margin: 0 auto;
  padding-bottom: 5rem;
}

.last {
  width: 90vw;
  margin: 0 auto;
}

.baseline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoFlex a {
  margin-left: 18.67px;
}

.underline {
  background: #313d55;
  height: 1px;
  width: 90vw;
  margin: 0 auto;
  transition: all 0.6s;
}

.baseline p {
  font-size: 13px;
  color: #8c97ac;
  /* display: flex; */
}

.underline:hover {
  background: #fff;
}

@media screen and (min-width: 760px) {
  .section {
    padding-top: 5rem;
  }
  .secondSection {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  .image {
    position: absolute;
    top: 0;
    left: -4.5rem;
  }

  .contactText p {
    width: 150px;
    font-size: 13px;
  }
  .first {
    align-self: flex-end;
    margin-bottom: 30px;
  }

  .first p {
    color: #8c97ac;
    width: 266px;
    font-size: 13px;
  }

  .container ul li {
    width: 100px;
    margin-bottom: 10px;
  }

  .container ul li a {
    font-size: 13px;
  }

  .first button {
    background: #00b6ff;
    padding: 13px 12px;
    border: none;
    border-radius: 10px;
  }

  .container {
    display: flex;
  }

  .container ul {
    margin-top: 0 !important;
  }

  .main {
    display: flex;
    align-items: flex-start;
  }

  .contacts {
    align-self: flex-start;
    margin: 0;
  }

  .contactText {
    width: 200px;
    color: #fff;
  }

  .overall {
    padding-top: 124px;
  }
}

@media screen and (min-width: 900px) {
  .first {
    padding-left: 0;
  }
  .main {
    padding-left: 0;
  }

  .underline {
    width: 80vw;
  }
  .last {
    width: 80vw;
  }
}

@media screen and (min-width: 1000px) {
  .image img {
    margin-left: -1rem;
  }

  .first {
    margin-left: 0;
    padding-left: 100px;
  }

  .contacts {
    padding-right: 75px;
  }

  .secondSection {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0;
    display: flex;
  }

  .main {
    margin-left: 0;
    padding-left: 0;
  }

  .underline {
    background: #313d55;
    height: 1px;
    width: 75vw;
    margin: 0 auto;
    transition: all 0.6s;
  }

  .last {
    width: 75vw;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .secondSection {
    width: 80vw;
    margin: 0 auto;
  }

  .main {
    display: flex;
    justify-content: space-around;
    width: 650px;
  }

  .container {
    padding-right: 40px;
  }

  .first p,
  .contactText p {
    font-size: 16px;
    line-height: 28px;
  }

  .container ul li a {
    line-height: 42px;
    font-size: 16px;
  }

  .container ul {
    margin-top: 16px;
  }

  .contactText p {
    width: 255px;
  }

  .container ul li {
    width: 120px;
  }
}

@media screen and (min-width: 1600px) {
  .main {
    justify-self: center;
  }
  .container {
    padding-right: 80px;
    margin-left: -5rem;
  }
}
