.section {
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.section img {
  width: 140px;
  background: #fff;
  padding: 10px 35px 55px 0;
  object-fit: cover;
  border-radius: 0 5% 70% 40%;
}

@media screen and (max-width: 760px) {
  .secondSection {
    width: 90vw;
    margin: 0 auto;
  }

  .first {
    width: 50vw;
    margin: 0 auto;
  }

  .first p {
    color: #fff;
  }

  .first button {
    background: #00b6ff;
    padding: 13px 10px;
    border: none;
    border-radius: 10px;
  }
  .first button a {
    color: #fff;
    text-decoration: none;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contacts {
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  .contactText p {
    color: #fff;
  }
}
