/* #2E2E2E
#4196B8
##FFAE1B
#181818
#4B4C4E
#1D272E
#8C97AC
#E9FBFF */

a {
  font-size: 18px;
}

h1 {
  font-size: 44px;
}

p {
  font-size: 1rem;
}

button {
  font-size: 16px;
}

h2 {
  font-size: 28px;
}
