/* #2E2E2E
#4196B8
##FFAE1B
#181818
#4B4C4E
#1D272E
#8C97AC
#E9FBFF */

/* a {
  font-size: 18px;
}

h1 {
  font-size: 44px;
}

p {
  font-size: 1rem;
}

button {
  font-size: 16px;
}

h2 {
  font-size: 28px;
} */

.section {
  background: #f4fbff;
  padding-bottom: 150px;
}

.footer {
  background: #1d293f;
}

@media screen and (min-width: 760px) {
  .wrapper {
    padding: 0 70px 0 100px;
  }
  .section {
    padding: 0 60px 0 85px;
  }
  .footer {
    padding: 0 45px 0 65px;
  }
}

@media screen and (min-width: 800px) {
  .section {
    /* padding: 0; */
    padding: 0 80px 0 70px;
  }

  .footer {
    padding: 0 65px 0 55px;
    /* margin-top: 100px; */
  }
}

@media screen and (min-width: 900px) {
  .section {
    padding: 0 90px 0 100px;
  }
  .footer {
    padding: 0 75px 0 85px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    padding: 0 150px 0 200px;
  }

  .section {
    padding: 0 135px 0 180px;
  }

  .footer {
    /* padding: 0 115px 0 160px; */
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    padding: 0 385px 0 300px;
  }

  .section {
    padding: 0 283px 0 272px;
  }

  .footer {
    /* padding: 0 115px 0 160px; */
  }
}
